div {
    
    width: 400px;
    height: 25px;
}

.background {
    margin: auto;
    border: solid 1px;
    background-color: azure;
}

.foreground {
    background-color: blue;
    width: 0;
    transition: all .3s;
}