table {
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    text-transform: capitalize;
    background-color: #383838;
    color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #b7b7b7;
}

td {
    text-transform: capitalize;
    width: 150px;
    text-align: center;
}

.sorter {
    display: inline;
    cursor: pointer;
}